@model IEnumerable<Chat>

@{ ViewData["Title"] = "LiveChat";
                Layout = "~/Views/Shared/_Layout_Chat.cshtml"; }
<h1>
    <a class="room-button" asp-area="" asp-controller="Home" asp-action="Index">
        Back Greenwich <span>CMS Online</span>
    </a>
</h1>

<img src="~/images/greenwich1.jpg" class="img-fluid" alt="Responsive image">
